body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

#role {
  font-size: 24px;
  color: #999;
  margin: 0;
  display: -webkit-inline-box;
  padding: 0;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  display: block;

}

a.cust-links {

  margin: 0;
  display: inherit;



}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

#skills {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;

}

/* TODO: Replace with image later */
#header {
  /*background-color: #484848; */
  background-color: #111;
  background-image:url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIAk8cmFkaWFsR3JhZGllbnQgaWQ9J2dsb3cnIGdyYWRpZW50VW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBjeD0nODUwJyBjeT0nNDAwJyByPSc1NDAnPgogIAkJPHN0b3Agb2Zmc2V0PScwJScgc3RvcC1jb2xvcj0nIzE1NWE5MCcgLz4KICAJCTxzdG9wIG9mZnNldD0nNjAlJyBzdG9wLWNvbG9yPScjNDQ0JyAvPgogIAkJPHN0b3Agb2Zmc2V0PScxMDAlJyBzdG9wLWNvbG9yPScjMTExJyAvPgogIAk8L3JhZGlhbEdyYWRpZW50PgogIAk8cmVjdCBmaWxsPSd1cmwoI2dsb3cpJyB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScvPgogIDwvc3ZnPgogIA==);

}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

li {
  margin: 0.5em;
}

ul {
  list-style-type: none;
  margin: 1.5em 1em 0em;
}

ul.work-description, ul.project-description {
  list-style-type: disc;
}

ul#footerContacts {
  margin: 0;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

#map {
  display: block;
  height: calc(98% - 20px);
  margin: 0 5%;
}

#mapDiv {
  background-color: #4a4a4a;
  height: 400px;
  width: 100%;
  padding-bottom: 12%;
}


img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
  #map {
  height: calc(99% - 20px);
  margin: 0 5%;
  }

  #mapDiv {
    padding-bottom: 5%;
  }
}
